<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="images/favicon.ico" th:href="@{images/favicon.ico}">
    <link rel="stylesheet" href="../../public/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}">
    <link rel="stylesheet" href="css/general.css">

    <script src="http://cdn.jsdelivr.net/webjars/jquery/3.2.1/jquery.min.js"
            th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            th:src="@{/webjars/popper.js/1.12.9/dist/esm/popper.min.js}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            th:href="@{/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js}"></script>
    <title>Big Data Loader</title>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-static-top navbar-dark bg-primary" th:fragment="header">
        <div class="container">
            <a class="navbar-brand" href="#" th:href="@{/}">
                <img src="../static/images/logo.jpg" th:src="@{/images/logo.jpg}" alt="Big data loader" class="img-thumbnail">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/index" th:href="@{/}" >Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/workflows" th:href="@{/workflows}">Workflows</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/workflows/new" th:href="@{/workflows/new}">
                            <span class="badge badge-warning">+ New workflow</span>
                        </a>
                    </li>
                </ul>
                <ul class="navbar-nav my-2 my-lg-0">
                    <li class="nav-item active" th:if="${#authorization.expression('!isAuthenticated()')}">
                        <form class="form-inline my-lg-0" th:action="@{/login}" method="post">
                            <div class="form-group mb-2">
                                <label for="staticEmail2" class="sr-only">User Name :</label>
                                <input type="text" name="username" class="form-control" id="staticEmail2" value="username">
                            </div>
                            <div class="form-group mx-sm-3 mb-2">
                                <label for="inputPassword2" class="sr-only">Password</label>
                                <input type="password" name="password" class="form-control" id="inputPassword2" placeholder="Password">
                            </div>
                            <button type="submit" class="btn btn-success mb-2">Sign In</button>
                        </form>
                    </li>
                    <li class="nav-item active" th:if="${#authorization.expression('isAuthenticated()')}">
                        <form class="form-inline" th:action="@{/logout}" method="post">
                            <div class="form-group mb-2">
                                <label for="staticEmail2" class="sr-only">User Name :</label>
                                <input type="text" readonly name="username" class="btn btn-info"  th:value="${#authorization.getAuthentication().name}">
                            </div>
                            <button type="submit" class="btn btn-danger mb-2">&nbspLogout</button>
                        </form>
                    </li>
                </ul>
            </div>

        </div>
    </nav>
</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->

</body>
</html>