<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="images/favicon.ico">
    <link rel="stylesheet" href="../../public/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}">
    <link rel="stylesheet" href="/css/general.css">

    <script src="http://cdn.jsdelivr.net/webjars/jquery/3.2.1/jquery.min.js"
            th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            th:src="@{/webjars/popper.js/1.12.9/dist/esm/popper.min.js}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            th:href="@{/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js}"></script>
    <title>Big Data Loader</title>
</head>
<body>
<header>
    <nav th:replace="~{fragments/header :: header(Workflows)}">Header</nav>
</header>
<main role="main" class="container" th:object="${workflow}">
    <form class="form-horizontal" th:object="${workflow}" th:action="@{/workflow}" method="post">

        <input th:field="*{title}" class="m-3 form-check-label justify-content-start">
        <input type="hidden" th:field="*{id}">
        <input type="hidden" th:field="*{version}">
        <input type="hidden" th:field="*{create_date}">
        <input type="hidden" th:field="*{last_run_date}">
        <input type="hidden" th:field="*{wfl_user}">



        <select th:field="*{wfl_type}">
            <option th:text="*{wfl_type.title}" th:value="*{wfl_type.id}">Type</option>
            <option th:each="type : ${types}"
                    th:value="${type.id}"
                    th:text="${type.title}">type</option>
        </select>


        <div>
            <h3>Configuration data</h3>
            <input type="hidden" th:field="*{wfl_config.id}">
            <input type="hidden" th:field="*{wfl_config.version}">
            <table class="table table-striped">
                <tr>
                    <th>Dirs from path</th>
                    <th>Dir to</th>
                    <th>Partitions</th>
                </tr>
                <tr>
                    <td>
                        <div th:each="dir, stat : *{wfl_config.wfl_directories_from}">
                            <input type="hidden" th:field="*{wfl_config.wfl_directories_from[__${stat.index}__].id}">
                            <input type="hidden" th:field="*{wfl_config.wfl_directories_from[__${stat.index}__].version}">
                            <input  th:field="*{wfl_config.wfl_directories_from[__${stat.index}__].path}" class="form-check-label justify-content-start">
                        </div>
                    </td>
                    <td>
                        <input type="hidden" th:field="*{wfl_config.wfl_directory_to.id}">
                        <input type="hidden" th:field="*{wfl_config.wfl_directory_to.version}">
                        <input  th:field="*{wfl_config.wfl_directory_to.path}" class="form-check-label justify-content-start">
                    </td>
                    <td>
                        <div th:each="partitionCol, stat : *{wfl_config.partitions}" class="d-inline">
                            <input type="hidden" th:field="*{wfl_config.partitions[__${stat.index}__].id}">
                            <input type="hidden" th:field="*{wfl_config.partitions[__${stat.index}__].version}">
                            <input  th:field="*{wfl_config.partitions[__${stat.index}__].name}" class="form-check-label justify-content-start">
                            <input  th:field="*{wfl_config.partitions[__${stat.index}__].type}" class="form-check-label justify-content-start">
                        </div >
                    </td>
                </tr>
            </table>
        </div>

        <div class="form-group">

            <h3 class="m-3">Tables</h3>

            <div class="lead">
                <table class="table table-striped">
                    <tr class="d-flex">
                        <th class="col-lg-2">Name</th>
                        <th class="col-lg-2">Primaries</th>
                        <th class="col-lg-4">Database url</th>
                        <th class="col-lg-2">username</th>
                        <th class="col-lg-2">password</th>
                    </tr>
                    <tr th:each="table, stat : *{wfl_config.wfl_tables}" class="d-flex">
                        <input type="hidden" th:field="*{wfl_config.wfl_tables[__${stat.index}__].id}">
                        <input type="hidden" th:field="*{wfl_config.wfl_tables[__${stat.index}__].version}">
                        <input type="hidden" th:field="*{wfl_config.wfl_tables[__${stat.index}__].w_database.id}">
                        <input type="hidden" th:field="*{wfl_config.wfl_tables[__${stat.index}__].w_database.version}">

                        <td class="col-lg-2">
                            <input  th:field="*{wfl_config.wfl_tables[__${stat.index}__].name}" class="form-check-label justify-content-start w-100">
                        </td>
                        <td th:each="prim, statPrim : *{wfl_config.wfl_tables[__${stat.index}__].primaries}" class="col-lg-2">
                            <div class="d-inline">
                                <input type="hidden" th:field="*{wfl_config.wfl_tables[__${stat.index}__].primaries[__${statPrim.index}__].id}">
                                <input type="hidden" th:field="*{wfl_config.wfl_tables[__${stat.index}__].primaries[__${statPrim.index}__].version}">
                                <input  th:field="*{wfl_config.wfl_tables[__${stat.index}__].primaries[__${statPrim.index}__].name}" class="form-check-label justify-content-start w-25">
                                <input  th:field="*{wfl_config.wfl_tables[__${stat.index}__].primaries[__${statPrim.index}__].type}" class="form-check-label justify-content-start w-25">
                            </div>
                        </td>
                        <td class="col-lg-4">
                            <input  th:field="*{wfl_config.wfl_tables[__${stat.index}__].w_database.url}" class="form-check-label justify-content-start w-100">
                        </td>
                        <td class="col-lg-2">
                            <input  th:field="*{wfl_config.wfl_tables[__${stat.index}__].w_database.username}" class="form-check-label justify-content-start w-100">
                        </td>
                        <td class="col-lg-2">
                            <input  th:field="*{wfl_config.wfl_tables[__${stat.index}__].w_database.password}" class="form-check-label justify-content-start w-100">
                        </td>
                    </tr>
                </table>
            </div>

        </div>

        <div class="submit">
            <button name="Save" type="submit">Save</button>
        </div>

    </form>
</main>
<footer>
    <div th:insert="~{fragments/footer :: footer}">&copy; 2020 Vladimir Yakimov</div>
</footer>

</body>
</html>