<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="images/favicon.ico">
    <link rel="stylesheet" href="../../public/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}">
    <link rel="stylesheet" href="css/general.css">

    <script src="http://cdn.jsdelivr.net/webjars/jquery/3.2.1/jquery.min.js"
            th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            th:src="@{/webjars/popper.js/1.12.9/dist/esm/popper.min.js}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            th:href="@{/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js}"></script>
    <title>Big Data Loader</title>
</head>
<body>
<header>
    <nav th:replace="~{fragments/header :: header}">Header</nav>
</header>
<main role="main" class="container">

    <h1 th:text="${workflow.title}">Workflow</h1>

    <div>
        <form class="form-horizontal" th:object="${workflow}" th:action="@{/workflows}" method="post">
            <input type="hidden" th:field="*{id}">
            <input type="hidden" th:field="*{version}">
            <div class="form-group form-inline">
                <label class="col-sm-2 font-weight-bold justify-content-start">Type:</label>
                <div class="col-sm-10">
                    <input class="form-check-label justify-content-start" th:field="*{type.title}">
                </div>
            </div>

            <div class="form-group form-inline">
                <label class="col-sm-2 font-weight-bold justify-content-start">Work class</label>
                <div class="col-sm-10">
                    <input class="form-check-label justify-content-start" th:field="*{type.typeClass}">
                </div>
            </div>


            <div class="form-group form-inline">
                <label class="col-sm-2 font-weight-bold justify-content-start">Create date</label>
                <div class="col-sm-10">
                    <input class="form-check-label justify-content-start" th:field="*{createDate}">
                </div>
            </div>
            <div class="form-group form-inline">
                <label class="col-sm-2 font-weight-bold justify-content-start">Lust run date</label>
                <div class="col-sm-10">
                    <input class="form-check-label justify-content-start" th:field="*{lastRunDate}">
                </div>
            </div>


            <div class="form-group">
                <h2 class="m-3">Configuration data</h2>
                <form class="form-horizontal">
                    <div class="form-group form-inline">
                        <label class="col-sm-2 font-weight-bold justify-content-start align-items-start">Dirs from: </label>
                        <div class="col-sm-10 p-0" th:each="dir : *{wfConfig.getDirFromList()}">
                            <div class="p-0 form-inline">
                                <input class="col-sm-2 justify-content-start" th:field="${dir.path}">
                            </div>
                        </div>
                    </div>

                    <div class="form-group form-inline">
                        <label class="col-sm-2 font-weight-bold justify-content-start">Dir to:</label>
                        <div class="col-sm-10">
                            <input class="form-check-label justify-content-start" th:field="*{wfConfig.dirTo}">
                        </div>
                    </div>

                    <div class="form-group form-inline">
                        <label class="col-sm-2 font-weight-bold justify-content-start">Partitions: </label>
                        <div class="col-sm-10 justify-content-start align-items-start p-0" th:each="partitionCol : *{wfConfig.getPartitionsColumnList()}">
                            <div class="p-0 form-inline">
                                <input class="col-sm-2 justify-content-start" th:field="${partitionCol.columnName}">
                                <input class="col-sm-2 justify-content-start" th:field="${partitionCol.type}">
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="form-group">
                <h3 class="m-3">Database configuration</h3>
                <form class="form-horizontal">
                    <div class="form-group form-inline">
                        <label class="col-sm-2 font-weight-bold justify-content-start">Host: </label>
                        <div class="col-sm-10">
                            <label class="form-check-label justify-content-start" th:text="${workflow.wfConfig.tableConf.host}">Dir from path</label>
                        </div>
                    </div>

                    <div class="form-group form-inline">
                        <label class="col-sm-2 font-weight-bold justify-content-start">Port: </label>
                        <div class="col-sm-10">
                            <label class="form-check-label justify-content-start" th:text="${workflow.wfConfig.tableConf.port}">Dir from path</label>
                        </div>
                    </div>

                    <div class="form-group form-inline">
                        <label class="col-sm-2 font-weight-bold justify-content-start">Username: </label>
                        <div class="col-sm-10">
                            <label class="form-check-label justify-content-start" th:text="${workflow.wfConfig.tableConf.username}">Dir from path</label>
                        </div>
                    </div>

                    <div class="form-group form-inline">
                        <label class="col-sm-2 font-weight-bold justify-content-start">password: </label>
                        <div class="col-sm-10">
                            <label class="form-check-label justify-content-start" th:text="${workflow.wfConfig.tableConf.password}">Dir from path</label>
                        </div>
                    </div>

                    <div class="form-group form-inline">
                        <label class="col-sm-2 font-weight-bold justify-content-start">Schema: </label>
                        <div class="col-sm-10">
                            <label class="form-check-label justify-content-start" th:text="${workflow.wfConfig.tableConf.schema}">Dir from path</label>
                        </div>
                    </div>

                    <div class="form-group form-inline">
                        <label class="col-sm-2 font-weight-bold justify-content-start">Table: </label>
                        <div class="col-sm-10">
                            <label class="form-check-label justify-content-start" th:text="${workflow.wfConfig.tableConf.table}">Dir from path</label>
                        </div>
                    </div>

                    <div class="form-group form-inline">
                        <label class="col-sm-2 font-weight-bold justify-content-start align-items-start">Primary kay: </label>
                        <div class="col-sm-10  justify-content-start p-0" th:each="primaryKay : ${workflow.wfConfig.tableConf.getTablePrimaryKays()}">
                            <div class="p-0 form-inline">
                                <label class="col-sm-2 justify-content-start" th:text="${primaryKay.titlePrimaryKay}">Column name</label>
                                <label class="col-sm-2 justify-content-start" th:text="${primaryKay.type}">Column type</label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="form-group" th:if="${not #lists.isEmpty(workflow.logFiles)}">
                <h2 class="m-3">Log files</h2>
                <div class="lead">
                    <table class="table table-bordered col-4">
                        <tr th:each="logfile : ${workflow.logFiles}">
                            <td th:text="${logfile.createDate}">Data</td>
                            <td><a class="btn btn-danger" th:href="${'/workflows/log/delete/' + logfile.id}">Delete</a></td>
                            <td><a class="btn btn-primary" th:href="${ '/workflows/log/show/' + logfile.id}">Read</a></td>
                        </tr>
                    </table>
                </div>
            </div>
        </form>
    </div>
</main>
<footer>
    <div th:insert="~{fragments/footer :: footer}">&copy; 2020 Vladimir Yakimov</div>
</footer>

</body>
</html>
