<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="../../public/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}">
    <link rel="stylesheet" href="css/general.css">

    <script src="http://cdn.jsdelivr.net/webjars/jquery/3.2.1/jquery.min.js"
            th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            th:src="@{/webjars/popper.js/1.12.9/dist/esm/popper.min.js}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            th:href="@{/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js}"></script>
    <title>Big Data Loader</title>
</head>
<body>
<header>
    <nav th:replace="~{fragments/header :: header(Workflows)}">Header</nav>
</header>
<main role="main" class="container">
    <div class="text-left" >

        <form class="form-inline mt-2 p-1 border-1 d-flex justify-content-between" th:action="@{/workflow}" method="get">

            <div class="form-group">
                <input type="text" class="form-control select-input" id="formGroupExampleInput" placeholder="title" name="title">
            </div>

            <div class="form-group ">
                <input class="form-control select-input" type="date" name="createDateFrom"  id="createDateFrom">
            </div>
            <div class="form-group  ">
                <input class="form-control select-input" type="date" name="createDateTo" id="createDateTo">
            </div>
            <div class="form-group  ">
                <input class="form-control select-input" type="date" name="lastRunDateFrom" id="lastRunDateFrom">
            </div>
            <div class="form-group">
                <input class="form-control select-input" type="date" name="lastRunDateTo" id="lastRunDateTo">
            </div>

            <select class="custom-select select-input" name="type">
                <option th:text="'Not selected'" th:value="null">Type</option>
                <option th:each="type : ${types}"
                        th:value="${type.title}"
                        th:text="${type.title}">
                </option>
            </select>

            <button type="submit" class="btn btn-secondary">Select</button>
        </form>
        <div class="m-3">
                <h1 class="m-3 d-inline">Workflows</h1>
                <a class="badge badge-warning ml-4 d-inline" th:href="@{'workflow/new'}">+ new Workflow</a>
        </div>



        <div class="lead">
            <table class="table table-striped">
                <tr>
                    <th>Title</th>
                    <th>Type</th>
                    <th>Creation date</th>
                    <th>Last run date</th>
                    <th>Log</th>
                    <th>Edit</th>
                    <th>Delete</th>
                    <th>Run</th>
                </tr>
                <tr th:each="workflow : ${workflows}">
                    <td><a th:href="${ '/workflow/' + workflow.uuid}">[[  ${workflow.title}  ]]</a></td>
                    <td th:text="${workflow.wfl_type.title}">Workflow type</td>
                    <td th:text="${workflow.create_date}">Creation date</td>
                    <td th:text="${workflow.last_run_date}">Last run date</td>
                    <td><a th:href="${ '/workflow/log/' + workflow.uuid}">Log</a></td>
                    <td><a th:href="${'/workflow/edit/' + workflow.uuid}">Edit</a></td>
                    <td><a class="btn btn-danger" th:href="${'/workflow/delete/' + workflow.uuid}">Delete</a></td>
                    <td>
                        <div th:if="${workflow.run}">
                            <p class="btn btn-secondary">Running</p>
                        </div>
                        <div th:unless="${workflow.run}">
                            <a class="btn btn-outline-success" th:href="${'/workflow/run/' + workflow.uuid}">Run</a>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</main>
<footer>
    <div th:insert="~{fragments/footer :: footer}">&copy; 2020 Vladimir Yakimov</div>
</footer>

</body>
</html>